################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SP-Vjezbe/Debug
/SP-Vjezbe/.vs/SP-Vjezbe/v15/ipch
*.suo
*.db
*.opendb
*.user
/SP-Vjezbe/Pokazivaci/Debug/Pokazivaci.tlog
/SP-Vjezbe/Pokazivaci/Debug
