################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SP-Vjezbe/Debug
/SP-Vjezbe/.vs/SP-Vjezbe/v15/ipch
*.suo
*.db
*.opendb
*.user
*.ipch
*.tlog
*.db-shm
*.db-wal
/SP-Vjezbe/Pokazivaci/Debug
/SP-Vjezbe/Datum/Debug
/SP-Vjezbe/DvodimenzionalnoPolje/Debug
